<%- include('partials/header') %>

<%- include('partials/navbar') %>

 <h1>Home Page</h1>

 <a href="/login">Login</a>
 <br>
 <a href="/logout">Logout</a>
 <br>
 <a href="/register">Register</a>
 <br>
 <a href="/local_order">Local Order</a>
 <br>
 <a href="/local_search">Search Locals</a>

<%- include('partials/footer') %>