<%- include('partials/header') %>

    <form action="/local_order" method="POST">
    
        <div id="local-order-title">Local Order</div>

        <div id="local-order-div">

            <div id="distribuidor-div">

                <label for="distribuidor-opcoes" id="distribuidor-label">Distribuidor</label>
                <select name="distribuidor-opcoes" id="distribuidor-select">
                    <option value="distribuidor">Escolha um Distribuidor</option>
                    <option value="eua">EUA</option>
                    <option value="mexico">México</option>
                    <option value="Chile">Chile</option>
                </select>

            </div>
            
            <div id="linguagem-div">

                <label for="linguagem-opcoes" id="linguagem-label"></label>
                <select name="linguagem-opcoes" id="linguagem-select">
                    <option value="linguagem">Escolha uma linguagem</option>
                    <option value="ingles">Inglês</option>
                    <option value="espanhol">Espanhol</option>
                </select>

            </div>

            <div id="contrato-div">

                <label for="contrato-opcoes" id="contrato-label"></label>
                <select name="contrato-opcoes" id="contrato-select">
                    <option value="contrato">Escolha uma forma de contrato</option>
                    <option value="unico">Único Jogo</option>
                    <option value="multiplos">Multiplos Jogos</option>
                </select>
        
            </div>

            <div id="jogos-div">

                <label for="jogos-opcoes" id="jogos-label"></label>
                <select name="jogos-opcoes" id="jogos-select" size="5">
                    <option value="jogos">Escolha até 5 jogos</option>
                    <option value="halloween">Halloween</option>
                    <option value="valentinesday">Valentine's Day</option>
                    <option value="eastersunday">Easter Sunday</option>
                    <option value="newyear">New Year</option>
                    <option value="lunarnewyear">Lunar New Year</option>
                    <option value="thanksgiving">Thanksgiving</option>
                    <option value="diademuertos">Día de Muertos</option>
                </select>
        
            </div>

            <div id="placas-div">

                <label for="placas-opcoes" id="placas-label"></label>
                <input type="number" name="placas" id="placas-input" min="0" max="10">
        
            </div>

        </div>
    
    <!-- campos requiridos:
    - Distribuidor: EUA, México, Chile
    - Linguagem: Inglês, Espanhol
    - Contrato: Jogos multíplos, Único jogo
    - Porcentagem: Para jogos multíplos 30%, para único 10%
    - Quantidade de placas: até 10 por local
    - Jogos: "Halloween", "Valentine's day", "Easter Sunday", "New Year", "Lunar New Year", "Thanksgiving", "Día de Muertos"
    - Limite de 5 jogos por local
    - Nome do local: até 30 caracteres
    - Cidade -->

    <div id="-div">

        <label for="-opcoes" id="-label"></label>
        <select name="-opcoes" id="-select">
            <option value=""></option>
        </select>

    </div>
    
    </form>

<%- include('partials/footer') %>